
#bodies{
    height: 800px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-image: url(../img/bg.jpeg);
    background-repeat: no-repeat;
   background-size: 100%;
}

#header{
    margin-top: 75px;
}

#expense{
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
}

#onetap{
    margin: 0px;
    padding: 0px;
    margin-left: 210px;
    color: rgb(227, 188, 227);
    opacity: 70%;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

#know{
    font-size: 19px;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    padding-bottom: 20px;
    color: white;
    opacity: 80%;
    font-family: 'Times New Roman', Times, serif;
}

#forms{
    width: fit-content;
    margin: auto;
}

#amount{
    margin-left: 60px;
    width: 350px;
}

#discription{
    margin-left: 119px;
    width: 351px;
}

#catogary{
    margin-left: 141px;
    width: 363px;
}

.textarea{
    border: 4px solid #503662;
    background-color: transparent;
    padding: 2px 0px;
    border-radius: 6px;
    color: #996868;
    color: white;
}

.opt{
    color: white;
    background-color: #3d2060;
}

.labels{
    margin: 0px;
    padding: 0px;
    color: white;
    opacity: 80%;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

#submitbtn{
    margin-left: 252px;
    margin-bottom: 32px;
    padding: 6px 45px;
    border-radius: 15px;
    background-color: #3d2060;
    color: white;
    font-size: 18px;
    border: 2px solid transparent;
    font-family: 'Times New Roman', Times, serif;
}

.newli{
    margin: 0px;
    margin-top:15px;
    padding: 0px;
    color: white;
    opacity: 80%;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.stylenewli{
    border-radius: 15px;
    background-color: #180035;
    color: white;
    font-size: 18px;
    border: 2px solid transparent;
    font-family: 'Times New Roman', Times, serif;
}